/* work sans font from google fonts */


 
 @import url(<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,800&display=swap" rel="stylesheet"> );   


{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
background: rgba(255, 144, 14, 0.10); 
padding:50px 150px;

}
.common-color{
    color: #424242;
}
.nav-title{
    color: #131313;
    font-size: 3rem; font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
.banner-contant{
    max-width: 800px;
    text-align: center;
}
.banner-title{
text-align: center;
font-size: 64px;
font-weight: 700
}
.banner-description{
    color:#727272;
text-align: center;
font-size: 16px;
font-weight: 400;
}
.btn-primary{
    color: #FFF;
text-align: center;
font-size: 20px;
border-radius: 8px;
background: #FF900E;
 margin-bottom: 50px;
margin-top: 30px;
padding: 20px;
cursor: pointer;
}
.banner img{
    width: 100%;
}
/* main style */
main{
    max-width: 1440;
    margin-top: 70px;
}
.teams-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
margin-left: 180px;
}
.teams-container{
    display: flex;
    align-items: center;
}
.teams-title{
    color:  #727272;
    font-size: 45px;
    font-weight: 500; 
}
.team-element{
    padding-left: 30px;
}
.span-1{
font-weight: 700;
}
.span-2{
    color: #FF900E;
font-size: 45px;
font-weight: 700;
}
.features{
margin: 30px 150px;
    display: flex;
}
.feature-sections{
    padding-right: 60px;
}
.photo-ar{
    width: 400px;
    height: 90%;
}
.button-10{
position: relative;
bottom: 100px;
right: 50px;
}
.feature-title-2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.anamul{
    padding-top: 10px;
    padding-bottom: 10px;
}
.facts-card-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 80px;
}
.facts-card-container .card{
padding: 40px;
    border: 1px solid #FF900E;
    text-align: center;
}

.facts-card-container .card-title{
    font-weight: 700;
    color:#727272 ;
    font-size: 1.5rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 45;
    color: #424242;
}
.section-3{
    text-align: center;
}
.sponsors-img{
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
}
footer{
    background-color:aqua;
    text-align: center;
    padding: 20px;
margin-left: 250px;
margin-right: 250px;
}

/* responsive media queries */
@media screen and  
(max-width:576px) {
header{
    padding: 20px;
}
nav{
    flex-direction: column;
}
.teams-images-container{
    grid-template-columns: 1fr;

}
.teams-container{
    flex-direction: column;
}
.team-element{
    padding: 10px;
}
.features {
    flex-direction: column;
}
.facts-card-container{
    flex-direction: column;
}
.sponsors-img{
    flex-direction: column;
}
footer{
    padding: 20px;
    margin: 10px 30px;
}
}
@media screen and (min-width:577px) and (max-width:992px)   {
    header{
        padding: 50px; flex-direction: column;
}
}


















