/* work sans font from google fonts */


 
 @import url(<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,800&display=swap" rel="stylesheet"> );   


{font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;

}
header{
background: rgba(255, 144, 14, 0.10); 
padding:50px 150px;

}

.nav-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;

}
nav li a{
    color: var(--dark-02, #424242);

    font-size: 18px;
    font-weight: 500; 
    
    
}
.banner-contant{
    max-width: 800px;
    text-align: center;
}
.banner-title{
    color: #131313;
text-align: center;

font-size: 64px;
font-weight: 700
}
.banner-description{
    color:#727272;
text-align: center;
 
font-size: 16px;
 
font-weight: 400;
 
}
.btn-primary{
    color: #FFF;
text-align: center;
font-size: 20px;
border-radius: 8px;
background: #FF900E;
 margin-bottom: 50px;
margin-top: 30px;
padding: 20px;
cursor: pointer;
}
.banner img{
    width: 100%;
}
/* main style */
main{
    max-width: 1440;
    margin-top: 70px;
}
.teams-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
margin-left: 180px;
}


.teams-container{
    display: flex;
    align-items: center;
}

.teams-title{
    color:  #727272;
    
    font-size: 45px;
    
    font-weight: 500; 
}
.team-element{
    padding-left: 30px;
}


.span-1{
   color: #131313;

font-weight: 700;
 
}
.span-2{
    color: #FF900E;
font-size: 45px;
font-weight: 700;
 
}
.feature-description{
    color: #727272;
font-size: 16px;
font-weight: 400;
}










/* responsive media queries */
@media screen and  
(max-width:576px) {
header{
    padding: 20px;
}
nav{
    flex-direction: column;
}
.teams-images-container{
    grid-template-columns: 1fr;


}
.teams-container{
    flex-direction: column;
}
.team-element{
    padding: 10px;
}

}
@media screen and (min-width:577px) and (max-width:992px)   {
    header{
        padding: 50px; flex-direction: column;
}


}


















